<div class="componente">

    <footer>

        <div class="cuadro1">
            <img id="img1" src="assets/images/Logo.png" alt="Logo">

            <div class="cuadro2">
                <ul>
                    <li>
                        <img class="img2" src="assets/images/correo.png" alt="correo">tecnologia@gmail.com
                    </li>
                    <li>
                      <img class="img2" src="assets/images/gmail.png" alt="gmail">  brayan@gmail.com
                    </li>
                    <li>
                       <img class="img3" src="assets/images/whatsapp.png" alt=""> 304 396 3157
                    </li>
                </ul>
            </div>
        </div>

        <div class="cuadro3">
            <p>© 2025 Technology blog</p>
        </div>
    </footer>

</div>
