<div class="componente">

    <header>
        <div class="cuadroInfo">
            <p>
                Aquí encontrarás un lugar donde comparto mis ideas, aprendizajes y experiencias dentro del mundo de la
                tecnología.<br /><br />
                Mi objetivo es crear un espacio cercano y práctico en el que hablo sobre programación, herramientas
                digitales, tendencias tecnológicas y proyectos personales que voy desarrollando.</p>
        </div>

        <div class="boton">
            <button><a routerLink="/experiencias">Mira ahora</a></button>
        </div>
    </header>

</div>