.componente {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('/assets/images/fondoHeader.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 70%;
}

.cuadroInfo {
    background-color: #e5ebffb2;
    width: 25%;
    height: 50%;
    margin-top: 90px;
    padding: 15px;
}

button{
    background-color: black;
    margin-top: 90px;
    height: 60px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}