/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
}
.header{
    background-image: url('assets/images/fondoHeader.png');
}
.light-mode {
  --bg-color: white;
  --text-color: black;
  --primary-color:  #F9F9F9;
  --fondo: white;
}

.dark-mode {
  --bg-color: #121212;
  --text-color: #ffffff;
  --primary-color: #121212;
  --fondo: rgb(87, 87, 87);
}