<div class="componente">

    <div class="cuadro1">

        <div class="cuadro2">
            @switch(imagen()){
                @case('imagen1'){
                    <img class="img1" src="assets/images/angular.png" alt="">
                }
                 @case('imagen2'){
                    <img class="img2" src="assets/images/css.png" alt="">
                }
                @case('imagen3'){
                    <img class="img3" src="assets/images/html.png" alt="">
                }
                @case('imagen4'){
                    <img class="img4" src="assets/images/java.png" alt="">
                }
                @case('imagen5'){
                    <img class="img5" src="assets/images/js.png" alt="">
                }
            }
        
        </div>
            <button (click)="cambiarImagen()">Cambiar imagen</button>
    </div>

</div>
