<div class="componente">

    <div class="cuadro1">

        <div class="cuadro2">
            <img class="img1" src="assets/images/angular.png" alt="">
            <img class="img2" src="assets/images/css.png" alt="">
            <img class="img3" src="assets/images/html.png" alt="">
            <img class="img4" src="assets/images/java.png" alt="">
            <img class="img5" src="assets/images/js.png" alt="">

            <img class="img1" src="assets/images/angular.png" alt="">
            <img class="img2" src="assets/images/css.png" alt="">
            <img class="img3" src="assets/images/html.png" alt="">
            <img class="img4" src="assets/images/java.png" alt="">
            <img class="img5" src="assets/images/js.png" alt="">
        </div>

    </div>

</div>
